html {
	background: url(../images/background.png);
	height: 100%;
}

body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	height: 100%;

}

h1, h2, h3, h4, h5, h6{
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 10px;
	margin:15px;
	color: #ff6666;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

p, label, input, textarea{
	font-size: 12px;
	padding: 10px;
	color: #777;
}

input, textarea{
	margin: 10px;
}

header{
	background: #fff;
	height: 70px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 15px;
}

nav{
	width: 270px;
	float: right;
	background: #fff;
}

main{
	clear: both;
	width: 650px;
	float: left;
	background: #fff;
	border: 1px #ccc solid;
}

aside{
	float: right;
	background-color: #fff;
	border: 1px #cccccc solid;
	width: 270px;
}

footer{
	clear: both; 
	background: #666;

	margin-top: 15px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	min-height: 100%;
}

.my_logo {
	padding: 0px;
	margin:0px;
	background: #ff6666;
	width: 200px;
	float: left;
	height: 70px;
}

.my_name{
	padding: 0px;
	margin:0px;
	color:#fff;
	text-align: center;
	line-height: 70px;
}

.nav_li{
	font-size: 12px;
	padding: 0 10px 0 10px;
	float: left;
	line-height: 70px;
}

.link {
	color: #777;
	text-decoration: none; 
}

.link:hover{
	color:#ff6666;
}

.aisha_img {
	max-height: 200px;
	float: left;
	padding: 20px;
	border-radius: 50%;
}

.connect_wrapper{
	margin:0 auto;
}

.connect_img{
	float: left;
	width: 55px;
	padding: 10px;
}

.submit_button {
    background-color: #ff6666;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px;
}

.submit_button:hover{
	background: #666;
	font-style: italic;
	border:1px #ff6666 solid;
}

.portfolio_grid{
	clear: both;
	margin:0 auto;
}

.portfolio_item{
	height: 200px;
	width: 270px;
	margin:10px;
	overflow: hidden;
	float: left;
	position: relative;
}

.portfolio_img1, .portfolio_img2, .portfolio_img3, .portfolio_img4, .portfolio_img5{
	width: 270px;
	z-index: 0;
	opacity: 0.5;
}

.portfolio_img1:hover, .portfolio_img2:hover, .portfolio_img3:hover, .portfolio_img4:hover, .portfolio_img5:hover{
	opacity: 1.0;
}

.porfolio_caption1, .porfolio_caption2, .porfolio_caption3, .porfolio_caption4, .porfolio_caption5{
	margin:0 auto;
	padding: 0;
	position: absolute;
	top: 135px;
	z-index: 1;
	color: #fff;
	line-height: 40px;
	text-align: center;
	width: 270px;
	background: #ff6666;
	font-size: 14px;
}

.copyright {
	color: #fff;
	text-align: center;
}

