html {
	background: url(../images/background.png);
}

body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

h1, h2, h3, h4, h5, h6{
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 10px;
	color: #4aaaa5;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

p {
	font-size: 12px;
	padding: 10px;
	color: #777;
}

header{
	background: #fff;
	height: 70px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 15px;
}

nav{
	width: 270px;
	float: right;
	background: #fff;
}

main{
	clear: both;
	width: 650px;
	float: left;
	background: #fff;
	border: 1px #ccc solid;
}

aside{
	float: right;
	background-color: #fff;
	border: 1px #cccccc solid;
	width: 270px;
}

footer{
	clear: both; c
	background: #4aaaa5;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
}

.my_logo {
	background: #4aaaa5;
	width: 200px;
	float: left;
	height: 70px;
}

.my_name{
	padding: 0px;
	color:#fff;
	text-align: center;
	line-height: 70px;
}

.nav_li{
	font-size: 12px;
	padding: 0 10px 0 10px;
	float: left;
	line-height: 70px;
}

.link {
	color: #777;
	text-decoration: none; 
}

.aisha_img {
	max-height: 200px;
	float: left;
	padding: 20px;
	border-radius: 50%;
}

.connect_img{
	float: left;
	max-height: 48px;
	padding: 10px;
}

.copyright {
	color: #fff;
	text-align: center;
}

